body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tittle {
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: black;
}

.subtittle {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

a {
  color: #00B7FF;
}

.headDiv {
  background: darkgrey;
}

.contentDiv {
  border-bottom-style: solid;
  border-color: lightgrey;
}
